@use "./styles/button.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body,
root{

    width: 100%;
    background-color: #373535;
    color:whitesmoke;
    font-family:system-ui;
}

.highlight{
    color: #de6565;
    font-weight: 500;
}